*{
    box-sizing: border-box;
} 
section{
    width: 562px;
    height: 818px;
    margin-left: 439px;
    margin-top: 88px;
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-radius: 20px;
}
.box1{
    margin-left: 156px;
    margin-top: 76px;
}
h1{
    font-weight: 700;
    font-size: 30px;
    margin-left: 56px;
    margin-top: 50.43px;
}
.box2{
    font-weight: 400;
    font-size: 19px;
    margin-left: 56px;
    margin-right: 63px;
}
.box3{
    font-weight: 500;
    font-size: 20px;
    color: #5076FF;
    padding-left: 395px;
}
